<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadLayoutComponentPartial")
<body class="bg-dark">

    @await Component.InvokeAsync("_HeaderLayoutComponentPartial")
    @await Component.InvokeAsync("_LogoutModalLayoutComponentPartial")

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await Component.InvokeAsync("_FooterLayoutComponentPartial")
    @await Component.InvokeAsync("_ScriptLayoutComponentPartial")

    @RenderSection("Scripts", required: false)
</body>
</html>
