<footer class="custom-box-shadow footer text-white">
    <div class="container">
        &copy; @DateTime.Now.Year - E-Kütüphane - <a class="hover-link" asp-area="" asp-controller="Home" asp-action="Privacy">Gizlilik</a>
    </div>
</footer>