@model ApplicationUserViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page-section text-white mt-5">
    <div class="container">
        <div class="p-5 custom-card custom-box-shadow mx-auto" style="max-width: 500px;">
            <h2>Profil Bilgileri</h2>

            <form asp-action="Index" method="post">
                <div class="form-group">
                    <label>Kullanıcı Adı</label>
                    <input asp-for="UserName" class="form-control" readonly />
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input asp-for="Email" type="email" class="form-control" readonly />
                </div>

                <div class="form-group">
                    <label>Ad</label>
                    <input asp-for="FirstName" class="form-control" required />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Soyad</label>
                    <input asp-for="LastName" class="form-control" required />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Cinsiyet</label>
                    <select asp-for="Gender" class="form-select" asp-items="ViewBag.GenderOptions" required>
                        <option value="">Seçiniz</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Biyografi</label>
                    <textarea asp-for="Bio" class="form-control"></textarea>
                    <span asp-validation-for="Bio" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label>Profil Fotoğrafı URL</label>
                    <input asp-for="ProfilePictureUrl" class="form-control" />
                    <span asp-validation-for="ProfilePictureUrl" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-success mt-2">Güncelle</button>
            </form>

            <div>
                <h4>Profil Fotoğrafı</h4>
                @if (!string.IsNullOrEmpty(Model.ProfilePictureUrl))
                {
                    <img src="@Model.ProfilePictureUrl" alt="Profil Fotoğrafı" style="max-width: 150px; max-height: 150px;" />
                }
                else
                {
                    <p>Profil fotoğrafı yok.</p>
                }
            </div>


        </div>
    </div>
</section>


