<div class="search-bar">
    <div class="search-bar-div">
        <label for="search-input" class="fw-bold text-center">Dilediğin kitabı ara</label>
        <input type="text" id="search-input" class="form-control" placeholder="Kitap ara, yazar adı veya ISBN girin..." />
    </div>
</div>

<style>
    .search-bar-div {
        background-color: rgba(0, 0, 0, 0.7);
        height: 15vh;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        width: 100vw;
    }

    .search-bar {
        background-image: url('https://wallup.net/wp-content/uploads/2017/11/22/332800-library-interiors-interior_design-books-knowledge-shelves-748x421.jpg');
        background-size: cover;
        background-position: center;
        padding: 20px;
        border-radius: 8px;
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    label {
        font-size: 18px;
        color: #fff;
        margin-bottom: 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-control {
        padding: 10px;
        border: 1px solid #fff;
        border-radius: 5px;
        font-size: 16px;
        margin-top: 10px;
    }
</style>